body {
  height: 100%;
  font-family: sans-serif;
}

.left {
  float: left;
}

.right {
  float: right;
}

header {
  height: 60px;
  background-color: gray;
}

.nav-container {
  width: 500px;
  height: 60px;
  margin: 0 auto;
}

.nav-container ul {
  height: 60px;
}

.header-nav li {
  list-style: none;
  display: inline-block;
}

.header-nav li button {
  margin-top: -40px;
}



.header-logo {
  background-image: url('../images/wabunga-blue.png');
  height: 60px;
  width: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 160px;
  text-align: center;
  margin: 0 auto;
}

#splash h2{
  text-align: center;
  margin-top: 30px;
}

.iframe {
  width: 100%;
  height: 100%;
}

.loader {
  display: none;
  z-index: 9999;
  margin: 0 auto;
  width: 100%;
  height: 100px;
  background-image: url(../images/ajax-loader.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px;
  position: fixed;
  top: 200px;
}

.source-tag {
  color: white;
  text-align: center;
}

.source-tag a {
  /*text-decoration: none;*/
  color: white;
}